[submodule "Backend/lib/forge-std"]
	path = Backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Backend/lib/openzeppelin-contracts"]
	path = Backend/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
